$phone-width: 1279px;
$desktop-width: 1280px;
// $color-background: #ffffff;
// $color-primary: #efb7b7;
// $color-secondary: #b6d8cf;
// $color-text: #333333;
// $color-button: #ff7f50;
// $color-button-hover: #ff5733;

$color-background: #ffffff;
$color-primary: #f7f0eb;
$color-secondary: #b6d8cf;
$color-text: #333333;
$color-text-secondary: white;
$color-button: #7a9874;
$color-button-hover: #ff5733;
