$phone-width: 767px;
$desktop-width: 768px;
$color-background: #ffffff;
$color-primary: #fff2e6;
$color-secondary: #b6d8cf;
$color-text: #333333;
$color-text-secondary: white;
$color-button: #ff7f50;
$color-button-secondary: #d1663f;
$color-button-hover: #ff5733;
$color-profile-div: #fff2e6;

// $color-background: #eeeeee;
// $color-primary: #f7f0eb;
// $color-secondary: #b6d8cf;
// $color-text: #333333;
// $color-text-secondary: white;
// $color-button: #7a9874;
// $color-button-hover: #ff5733;
