@import "./UI/carousel/Carousel.module.scss";
@import "./assets/styles/fonts.scss";

* {
  margin: 0px;
  text-decoration: none;
}

hr {
  margin: 0;
}

p {
  margin: 0;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 900 !important;
  pointer-events: none;
}
