@import "./UI/carousel/Carousel.module.scss";
@import "./assets/styles/fonts.scss";

* {
  margin: 0px;
  text-decoration: none;
}

hr {
  margin: 0;
}

p {
  margin: 0;
}
.app_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 118px;
  @media (max-width: $phone-width) {
    margin-top: 70px;
  }
}
.leaflet-top,
.leaflet-bottom {
  z-index: 900 !important;
  pointer-events: none;
}
