@import "../../assets/styles/variables";

.profileOrders_header {
  background-color: #eee2da;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: #d8ccc4 1px solid;
}

.profileOrders_body {
  display: flex;
  flex-direction: column;
}

.profileOrders_order {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  button {
    background-color: #eee2da;
    border: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: #a49864;
    transition: 0.3s;
    font-family: "NotCourierSans";
    &:hover {
      color: black;
    }
  }
}

.profileOrders_column {
  width: 16.5%;
  text-align: center;
  height: auto;
}

.pagination {
  display: flex;
  list-style: none;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  a {
    color: #7a9874;
    text-decoration: none;
  }
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination .active {
  background-color: $color-button;
  color: $color-text-secondary;
  font-weight: bold;
}
