@import "../../assets/styles/mixin.scss";
.passwordContainer {
  width: 1180px;
  margin: auto;
  padding: 100px 0px;
  .notificationMessage_password {
    width: 80%;
    font-family: "NotoSerifLight";
    font-size: 1rem;
    transition: opacity 1.5s ease, transform 1.5s ease;
    opacity: 0;
    transform: translateY(-10px);
    margin: 10px 0px;
    color: rgb(143, 143, 143);
  }
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  .notificationMessage {
    width: 80%;
    font-family: "NotoSerifLight";
    font-size: 1rem;
    transition: opacity 1.5s ease, transform 1.5s ease;
    opacity: 1;
    margin: 10px 0px;
    color: red;
  }
  .hidden {
    opacity: 0;
    transform: translateY(-10px);
  }
  h1 {
    font-family: "PlayfairDisplay";
    font-weight: 600;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 1rem;
    padding: 0;
    font-weight: 100;
    color: gray;
    margin: 10px 0px;
  }
  .label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 500;
    color: #333;
    font-family: "CrimsonRoman";
  }
  .input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-family: "RalewayRegular";

    &:focus {
      font-family: "RalewayRegular";
      border: 1px solid rgb(145, 145, 145);
      outline: none;
      box-shadow: none;
    }
  }
  .submitButton {
    margin-top: 30px !important;
    width: 30% !important;
    @include greenButton;
  }
  .password_sended {
    font-style: italic;
    color: gray;
  }
}
