@import "../../assets/styles/mixin.scss";
.passwordContainer {
  width: 1180px;
  margin: auto;
  padding: 100px 0px;
  h1 {
    font-family: "PlayfairDisplay";
    font-weight: 600;
    margin-bottom: 0px;
  }
  .notificationMessage {
    width: 80%;
    font-family: "NotoSerifLight";
    font-size: 1rem;
    transition: opacity 1.5s ease, transform 1.5s ease;
    opacity: 1;
    margin: 10px 0px;
    color: rgb(0, 138, 41);
  }
  .label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 500;
    color: #333;
    font-family: "CrimsonRoman";
  }
  .input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-family: "RalewayRegular";

    &:focus {
      font-family: "RalewayRegular";
      border: 1px solid rgb(145, 145, 145);
      outline: none;
      box-shadow: none;
    }
  }
  button {
    margin-top: 10px !important;
    width: 30% !important;
    @include greenButton;
  }
}
